
.field-input {
  margin: 4px 0;
  display: flex;
  padding: 4px 0;
  .label-field {
    width: 165px;
    font-size: .9em;
    color: grey;
  }
}

.error {
  color: red;
}

.load-bar {
  color: green;
  font-size: .9em;
}

.form-upload-pic {
  background: #f0f7fa;
  border-bottom: 1px dashed #d3e0e6;
  padding: 6px 10px;
  margin-bottom: 14px;

}