@import "./constants.scss";

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16.8px;
}


input.form-input[type=text], input.form-input[type=password] {
  padding: 4px;
  font-size: 14px;
  width: 280px;
}

input.form-input[type=button], input.form-input[type=submit] {
  padding: 4px 10px;
  font-size: 16px;
}

input.delete-btn {
  color: red;
  margin: 0 10px;
}

input.form-input[type=file] {
  font-size: 14px;
  width: 280px;
}

select.form-input {
  font-size: 14px;
  width: 280px;
  option {
    padding: 4px 10px;
  }
}

span.link {
  text-decoration: underline;
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  &.danger {
    color: $danger;
    &:hover {
      color: $danger-hover;
    }
  }
}

.smaller {
  font-size: .9em;
}

.loading-text-error {
  color: red;
  padding: 4px 0;
  text-align: center;
}

.loading-text-loading {
  color: grey;
  padding: 4px 0;
  text-align: center;
}