

.body-page-photo {
  padding: 10px 2%;

  .photo {
    text-align: center;
    img {
      max-width: 100%;
    }
  }
}

.photo-details {
  margin-bottom: 10px;
  font-style: italic;
  font-size: .95em;
}